@font-face {
    font-family: gordita-lite;
    src: url(font/Gordita\ Light.otf);
}

@font-face {
    font-family: gordita-medium;
    src: url(font/Gordita\ Medium.otf);
}

@font-face {
    font-family: gordita-regular;
    src: url(font/Gordita\ Regular.otf);
}

@font-face {
    font-family: gordita-black;
    src: url(font/Gordita\ Black.otf);
}

@font-face {
    font-family: gordita-bold;
    src: url(font/Gordita\ Bold.otf);
}

@font-face {
    font-family: dancing-bold;
    src: url(font/DancingScript-Bold.ttf);
}

body{
    background-color: rgb(211, 200, 185);
    margin: 10% 5%;
    font-family: gordita-regular;

    text-align: center;
}

#plano{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 340px;
}

.bonus{
    font-family: dancing-bold;
    color: #00CC3A;
    font-size: 35px;
}

.velocidade{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
 
 }

h2{
    font-family: gordita-black;
    font-size: 50px;
    color: black;
}

.mega{
    font-size: 40px;
}

h3{
    font-family: gordita-medium;
    font-size: 40px;
    margin: 0px 0px;
    color: rgba(4, 204, 58, 1);
    ;
}
h4{
    margin: 0 0 0 0 ;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-icon{
    font-family: gordita-medium;
    padding: 5px 5px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.button{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50px;
}

.download{
    font-family:gordita-medium;
}

.icons{
    display: flex;
    margin-bottom: 10px;

    justify-content: center;
    gap: 5px;
}

.upload{
    font-family: gordita-lite;
}

.divisor{
    height: 10px;
    width: 100%;
    background: linear-gradient(270deg, #04CB3A 0%, #008930 100%);
    margin-bottom: 10px;
}

.month{
    color: black;
    font-size: 16px;
}

.assine{
    border-radius: 50px;
    color: white;
    background-color: #008930;
    max-width: 150px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.link-tv{
    color: #00CC3A;
}

.vencimento{
    font-family: gordita-medium;
    font-size: 13px;
}
.container-new-list{
    display: flex;
    justify-content: center;
}
.container-bt{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}

.new-list{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    width: 200px;
    
}

input[type="checkbox"]{
    position: relative;
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #CACACA;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.2);
    transition: .3s;
  }

  input:checked[type="checkbox"] {
    background: linear-gradient(269.16deg, #04CB3A 0.16%, #008D1E 94.55%);
  }

  input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(254, 7, 7, 0.2);
    transition: .3s;
  }

  input:checked[type="checkbox"]:before {
    left: 30px;
  }